.app {
  text-align: center;
}

.app-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  width: 90vw;
  margin: auto;
  max-width: 1200px;
}
